

<p *ngIf="!firstPanelFiles"><em>Loading...</em></p>




<div style="overflow: auto; width:1400px; height:800px;">
  <table *ngIf="firstPanelFiles" width="80%">
    <thead>
      <tr>
        <th>check</th>
        <th>name</th>
        <th>fullName</th>
        <th>creationTime</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let file of firstPanelFiles" class="quizzes">
        <td><input type="checkbox" name="checkedFiles" [value]="file.name" class="chek" (change)="onCheck($event)" ></td>
        <td [class.selected]="file === selectedFile" (click)="onSelect(file)">{{ file.name }}</td>
        <td>{{ file.fullName }}</td>
        <td>{{ file.creationTime }}</td>
      </tr>
    </tbody>
  </table>
</div>
<button (click)="onDeleteTest()">Delete</button>
<button (click)="printChecked()">PrintChecked</button>
<button>Rename</button>

